/* тег спан #2196F3; */
/* главный заголовок #FFFFFF; */
/* эфект наведения #2196F3 */
/* заголовки #212121 */
/* текст в заголовках #757575 */
/* футер background: #2F303A; */
/* наша команда background: #F5F4FA; */
/* героик background: #2F303A; */
/* контакты в футоре rgba(255, 255, 255, 0.6); */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --backgraund-button-and-team-section-color: #f5f4fa;
  --backgraund-hero-and-foter-color: #2f303a;
  --backgraund-hero-color: rgba(47, 48, 58, 0.4);
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hed-line {
  border-bottom: 1px solid #ececec;
}
.site-nav__list,
.contacts,
.header,
.site-nav {
  display: flex;
}

/* -------------Logo---------------- */
.site-nav__logo {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.site-nav__logo--color {
  color: var(--accent-color);
}
/* -------------site-nav-------------*/
.site-nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__list {
  margin-left: 93px;
}
.site-nav__item {
  margin-left: 50px;
}
.site-nav__item:first-child {
  margin-left: 0;
}
.site-nav__item {
  position: relative;
}
.site-nav__sprit::after {
  content: "";
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  cursor: pointer;
}

.site-nav__link--active {
  display: flex;
  color: var(--accent-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
}
/* ------------contact hover---------*/

.contact-list-footer .link-footer:hover,
.contact-list-footer .link-footer:focus,
.contacts__link:hover,
.contacts__link:focus,
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}
/* ----------contacts--------------- */
.contacts__link {
  display: flex;
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
.contacts {
  margin-left: auto;
  align-items: center;
}
.contacts__item {
  margin-left: 30px;
}
.contacts__item:first-child {
  margin-left: 0;
}

/* -----------hero-------------------*/
.hero {
  text-align: center;
  background-color: rgba(47, 48, 58, 0.4);
}
.overlay {
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpeg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__title {
  color: var(--primary-bg-color);
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  border: var(--accent-color);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: backgraund-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: backgraund-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-bg-color);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  cursor: pointer;
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover,
.modal__button:focus {
  fill: #2196f3;
}
/* ---------------form------------ */
.form__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
  margin-bottom: 12px;
}
.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__label {
  display: flex;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 0;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  transform: translateY(100%);
  color: currentColor;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field :focus,
.form__field :hover,
.form__field :focus ~ .form__icon,
.form__field :hover ~ .form__icon {
  fill: #2196f3;
  border-color: #2196f3;
}
.form__feedback {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form__textarea {
  resize: none;
}

.form__feedback-label {
  display: flex;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
}
.checkbox__input:checked + .checkbox__icon {
  fill: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/full-check.svg);
  background-size: contain;
  background-origin: border-box;
  background-position: center;
  border-radius: 2px;
}
.checkbox__input:focus-visible + .checkbox__icon,
.checkbox__input:hover + .checkbox__icon {
  fill: var(--accent-color);
}
.checkbox__icon {
  margin-right: 8px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__link {
  margin-left: 4px;
  color: #2196f3;
  text-decoration: underline;
}
.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.form__button {
  padding: 10px 55px 10px 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------Benefits------------- */
.benefits__icon {
  width: 70px;
  height: 70px;
  border: 0;
  fill: #212121;
}
.buttons__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  margin-bottom: 30px;
}
.benefits__list {
  display: flex;
  align-items: center;
}
.benefits__item {
  margin-right: 30px;
}
.benefits__item:last-child {
  margin-right: 0;
}
.benefits__subtitle {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--title-text-color);
}
.benefits__text {
  font-size: 14px;
  line-height: 1.71;
}
.team-list .subtitle {
  color: var(--title-text-color);
}
.team-section {
  background-color: var(--backgraund-button-and-team-section-color);
}
/*------------------- Work ---------------------*/
.work {
  text-align: center;
  margin-bottom: 50px;
}
.work__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
.working {
  padding-bottom: 94px;
}
.work__list {
  display: flex;
}
.work__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.work__thumb {
  position: relative;
  width: 370px;
}
.work__item {
  margin-right: 30px;
}
.work__item:last-child {
  margin-right: 0;
}
.work,
.team {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
/* ------------------team----------------------*/
.team {
  text-align: center;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bg-color);
  margin-right: 30px;
}
.team__item:last-child {
  margin-right: 0;
}
.team__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.team__text {
  padding: 30px 32px;
  text-align: center;
}
.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.team__posicion {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}
/* --------------social-gruop------------------ */
.social-gruop {
  display: flex;
  justify-content: center;
}
.social-gruop__item {
  margin-right: 10px;
}
.social-gruop__item:last-child {
  margin-right: 0;
}
.social-gruop__icon {
  width: 20px;
  height: 20px;
  display: flex;
  cursor: pointer;
  fill: currentColor;
}
.social-gruop__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-gruop__link:hover,
.social-gruop__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-gruop__link:last-child {
  margin-right: 0;
}

/* -----------------clients---------------------*/
.clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  cursor: pointer;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item {
  margin-right: 30px;
}
.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients__item:last-child {
  margin-right: 0;
}
/* ---------------addres-------------------- */
.addres__title {
  color: var(--primary-bg-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  padding: 0;
  margin-bottom: 9px;
}
.addres-list {
  display: flex;
  align-items: baseline;
}
.addres {
  display: block;
}
/* --------------contact footer ------------------*/

.contact-footer__contact__link {
  padding: 0;
}
.contact-footer__contacts__item {
  margin-left: 0;
}
.contact-footer__contact__link {
  color: #757575;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  margin: 0;
}

.contact-footer__contacts__item {
  margin-bottom: 9px;
}
.contact-footer__contacts__item:last-child {
  margin-bottom: 0;
}
/* Footer */
.footer__site-nav__logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 20px;
  padding: 0;
  color: #ffffff;
}
.footer__site-nav__logo--color {
  color: var(--accent-color);
}
.common {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.social-list-link {
  display: flex;
}
.social-footer {
  width: 206px;
  margin-left: 70px;
  align-items: center;
}
.footer-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: currentColor;
}
.social-gruop__social-gruop__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-gruop__social-gruop__item {
  width: calc((100%-40px) / 4);
  margin-right: 10px;
}
.social-list-link .social-item-footer:nth-child(4n) {
  margin-right: 0;
}
.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--accent-color);
}
.footer,
.footer-portfolio {
  background-color: var(--backgraund-hero-and-foter-color);
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: flex-start;
  display: flex;
}
/* logo footer */
.logo-footer {
  color: var(--primary-bg-color);
}

/* subscribe */
.subscribe {
  margin-left: auto;
}
.subscribe__list {
  display: flex;
}
.subscribe__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribe__input {
  height: 50px;
  width: 358px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  cursor: pointer;
  color: #ffffff;
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__buttons {
  display: flex;
  margin-left: 12px;
  padding: 0;
  border: 0;
  padding: 10px 28px 10px 29px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  order: 0;
}
.subscribe__button-label {
  margin-right: 10px;
  width: 109px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
}

.subscribe__icon {
  margin-top: 3px;
  margin-bottom: 3px;
  width: 24px;
  height: 24px;
  order: 1;
}

/* --------------Portfolio-------------------- */
/*---------- Buttons------------ */
.button-set__button {
  background-color: var(--backgraund-button-and-team-section-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border-radius: 4px;
  border: var(--backgraund-button-and-team-section-color);
  text-align: center;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-set {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-set__item {
  margin-right: 8px;
}
.button-set__item:last-child {
  margin-right: 0;
}
.active,
.button-set__button:hover,
.button-set__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*---------------- Galerry---------------- */
.gallery-list {
  display: flex;
  flex-wrap: wrap;
}
.gallery-list__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list__link:focus,
.gallery-list__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.foto-card__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.6;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-list__link:hover .foto-card__text,
.gallery-list__link:focus .foto-card__text {
  transform: translateY(0);
}
.foto-card__posicion {
  width: 322px;
}

.foto-card {
  position: relative;
  overflow: hidden;
}

.gallery-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.frame {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-top: 0;
}
.gallery-list__img {
  display: block;
}
.frame {
  padding: 20px 24px;
}
.gallery-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.gallery-list__item:nth-child(3n) {
  margin-right: 0;
}
.frame__subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.frame__text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}
