.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-bg-color;
  margin-bottom: 20px;
}
.social-footer {
  width: 206px;
  margin-left: 70px;
  align-items: center;
}
.social-gruop__social-gruop__link,
.social-gruop,
.join {
  @extend %list;
}
.social-gruop__social-gruop__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-bg-color;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.social-gruop__social-gruop__item {
  width: calc((100%-40px) / 4);
  margin-right: 10px;
}
.social-gruop__social-gruop__item:last-child {
  margin-right: 0;
}
