$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$contacts-footer-color: rgba(255, 255, 255, 0.6);
$backgraund-button-and-team-section-color: #f5f4fa;
$backgraund-hero-and-foter-color: #2f303a;
$backgraund-hero-color: rgba(47, 48, 58, 0.4);
$hover-button-color: #188ce8;
$icon-team-color: #afb1b8;
